PORT=5000
NODE_ENV=development
DATABASE_URL=postgres://postgres:lol@localhost:5432/hospital_db
JWT_SECRET=your_jwt_secret_key_here
REDIS_URL=redis://localhost:6379

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_smtp_username_here
SMTP_PASS=your_smtp_password_here
NOTIFICATION_SERVICE_URL=http://localhost:3010
RESEND_API_KEY=your_resend_api_key_here
DATABASE_URL_DOCKER=postgres://postgres:password@host.docker.internal:5432/hospital_db
DATABASE_URL_APPOINTMENT_DOCKER=postgres://postgres:password@host.docker.internal:5432/appointment_db
DATABASE_URL_BILLING_DOCKER=postgres://postgres:password@host.docker.internal:5432/billing_db
DATABASE_URL_PRESCRIPTION_DOCKER=postgres://postgres:password@host.docker.internal:5432/prescription_db
DATABASE_URL_INSURANCE_DOCKER=postgres://postgres:password@host.docker.internal:5432/insurance_db
